/*  Header  */

header { 
    display: flex;
    text-align: center;
    color: #ffff;
    min-height: 2rem;
    font-family: monospace;
    background-color: #253237;
    justify-content: space-between;
    min-width: -webkit-fill-available;
    min-width: -moz-fill-available;
}

header h1 {
    margin-left: 1rem;
}

header a {
    color: #ffff;
    border-radius: 10%;
    font-family: monospace;
    text-decoration: none;
    padding: 1rem 1rem 1rem 1rem;

}

header a:hover {
    background-color: #4c9e9e;
}

div.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
}


/*  Body - Main  */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #9DB4C0;
}

main { 
    display:flex; 
    flex-direction:column;
    align-items: center;
    min-height: -webkit-fill-available;
    min-width: -webkit-fill-available;
}

main img.me {
    border: solid 0.5rem #465c74;
    border-radius: 50%;
    height: 50%;
    width: 50%;
}

section.main-centered {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

div.icon-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

div.icon-section svg {
    min-width: 2rem;
    min-height: 2rem;
    background-color: #495057;
    border-radius: 100%;
    text-align: center;
    padding: 0.5rem;
}


/*  Footer  */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    min-height: 3rem; 
    background:#253237;
    min-width: -webkit-fill-available;
    min-width: -moz-fill-available;
}

footer a {
    font-family: monospace;
    text-decoration: none;
    color: #ffff;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}