section.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    max-width: 60%;
}

ul li {
    text-align: left;
    margin-bottom: 1rem;
}