section.portfolio-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

div.row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #88A0A8;
    border: 1px solid
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
    width: 50%;
}

div.row img {
    width: 60%;
    height: auto;
}

div.tech-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

a.repo-ref {
    padding: 0.5rem;
    background-color: #37718E;
    text-decoration: none;
    color: #ffff;
}

a svg {
    margin-right: 0.5rem;
    cursor: pointer;
}

p {
    max-width: 60%;
}